
body
{ background: url(notebook.jpeg);
background-size: 100% 100%;
background-repeat: no-repeat;
}

#all
{text-align:left;
  float:right;
  width:360px;
  margin-top:70px;
  margin-right:130px;
  font-family:"American Typewriter",serif, times;
}

ul li{
  text-decoration: none;
  color:purple;
}
h1 {color:brown;
}
